body {
    margin: 0;
    background: #1B244A;
}

.container {
    display: flex;
    justify-content: space-around;
}
h3 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #EEEEEE;
    width: 149px;
    height: 36px;
}
#home-points-text {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
    background-color: #080001;
    width: 155px;
    height: 110px;
    border-radius: 5px;
    border: solid #080001 5px;
}
#guest-points-text {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
    background-color: #080001;
    width: 155px;
    height: 110px;
    border-radius: 5px;
    border: solid #080001 5px;
}
button {
    margin-top: 26px;
    width: 45px;
    height: 45px;
    font-family: 'Cursed Timer ULiL';
    color: #9AABD8;
    background: #1B244A;
    border-color: #9AABD8;
    border-style: solid;
    border-radius: 5px;
    margin-right: 9px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background: #9AABD8;
    color: #1B244A;
}
#quarter {
    font-family: 'Verdana';
    font-size: 20px;
    letter-spacing: 5px;
    margin-top: 30px;
    text-align: center;
    color: #EEEEEE;
    cursor: pointer;
}
#timer{
    background-color: #EEEEEE;
    font-family: 'Cursed Timer ULiL';
    font-size: 40px;
    letter-spacing: 10px;
    text-align: center;
    color: #1B244A;
    margin-top: 30px;
    border: solid #EEEEEE 3px;
    border-radius: 20px;
    height: 50px;
    padding-top: 15px;
}
#middle button {
    font-family: 'Verdana';
    width: 100px;
    margin-top: 10px;
}
#new {
    margin-left: 35px;
    height: 60px;
    width: 150px !important;
    font-size: 15px;
    font-weight: bold;
    border: solid #080001 1px;
    background-color: #080001;
}
#new:hover{
    background-color: #9AABD8;
}